@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #efefef;
  --font-sans: var(--font-tajawal); /* ناخد من next/font */
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-tajawal);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b110a; /* بني غامق للقهوة */
    --foreground: #cebfad; /* أوف وايت للقهوة */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-tajawal), "Tajawal", sans-serif;
}

button {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
